<% /* global theme, config, page, date, partial */ %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title><%= page.title ? page.title + ' :: ' + config.title : config.title %></title>
  <meta name="description" content="<%= page.description || config.description %>">
  <meta name="keywords" content="<%= page.keywords || config.keywords %>">
  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>
  <!--Favicon-->
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%= theme.favicon %>">
  <% } %>

  <%- css('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %>
  <%- css('https://unpkg.com/vuelayers@latest/dist/vuelayers.umd.min.css') %>
  <%- css('scss/main') %>

  <%- partial('partial/ga') %>
</head>
<body>
  <%- partial('partial/header') %>

  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-2">
        <%- partial('partial/left-sidebar') %>
      </div>
      <div class="column">
        <main>
          <%- body %>
        </main>
        <%- partial('partial/footer') %>
      </div>
    </div>
  </div>

  <%- js('https://buttons.github.io/buttons.js', { async: true, defer: true }) %>
  <%- js('https://unpkg.com/vue@latest/dist/vue.min.js', { defer: true }) %>
  <%- js('https://unpkg.com/vuelayers@latest/dist/vuelayers.umd.min.js', { defer: true }) %>
  <%- js('js/main.js', { defer: true }) %>
</body>
</html>
