<%
var showCount = typeof count !== 'undefined' && count ? 'data-show-count="true"' : ''
%>
<a class="github-button" href="<%= url %>" data-size="<%= size %>" <%- showCount %>
   aria-label="<%= label %>">
  <%= text %>
</a>
