<% /* global theme, config, partial */ %>
tODO вытащить отсюда наверх, чтобы перекрывал от начала и до конца
<div class="columns">
  <div class="column">
    <div class="content">
      <p>
        <b><%= theme.pkg.fullname %></b> by
        <a href="<%= theme.pkg.author.homepage.url %>" title="<%= theme.pkg.author.homepage.name %>" target="_blank">
          <%= theme.pkg.author.name %>
        </a>
      </p>
      <p>
        <small>
          Licensed under
          <a href="<%= theme.pkg.license.url %>" target="_blank" title="Package license test">
            <%= theme.pkg.license.name %>
          </a>
        </small>
        <br>
        <small>
          &copy; 2016-<%= date(Date.now(), 'YYYY') %>
          <a href="<%= theme.pkg.author.homepage.url %>" title="<%= theme.pkg.author.homepage.name %>"
             target="_blank">
            <%= theme.pkg.author.name %>
          </a>
        </small>
      </p>
    </div>
  </div>
  <div class="column has-text-right">
    <a href="<%= ghUrl(theme.pkg.author.user, theme.pkg.name) %>" target="_blank" title="View on GitHub"
       class="button">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
      <span>
        GitHub
      </span>
    </a>
  </div>
</div>
