<% /* global config, theme, partial */ %>
<div class="page is-home">
  <div id="bg-map" class="map-container" inline>
    <vl-map :def-controls="false" ref="map">
      <vl-view :zoom="2"></vl-view>

      <vl-layer-tile>
        <vl-source-sputnik></vl-source-sputnik>
      </vl-layer-tile>
    </vl-map>
  </div>

  <section class="section">
    <h1 class="title has-text-centered"><%= page.title %></h1>
    <h2 class="subtitle has-text-centered">
      <a href="https://vuejs.org/" title="Vue.js Home" target="_blank">Vue.js</a> components for
      <a href="https://openlayers.org/" title="OpenLayers Home" target="_blank">OpenLayers</a>
    </h2>

    <div class="content has-text-centered">
      <pre class="is-medium">npm install <%= theme.pkg.name %></pre>

      <p>
        <a class="button is-success is-large"
           href="<%= ghUrl(theme.pkg.author.user, theme.pkg.name, 'download', { tag: 'v' + theme.pkg.version }) %>"
           title="Download latest version">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download</span>
        </a>
        &nbsp;
        <a class="button is-primary is-large" href="<%= url_for('components') %>" title="Usage guide">
          <span>Get started</span>
          <span class="icon">
          <i class="fa fa-arrow-right"></i>
        </span>
        </a>
      </p>

      <p>
        v<%= theme.pkg.version %>
      </p>

      <hr>

      <p>
        <%- partial('partial/github-button', {
          type: 'star',
          user: theme.pkg.author.user,
          repo: theme.pkg.name,
          size: 'large',
          count: true,
          width: '120px',
          height: '30px'
        }) %>
        <% /* partial('partial/github-button', {
         type: 'fork',
         user: theme.pkg.author.user,
         repo: theme.pkg.name,
         count: true,
         size: 'large',
         width: '120px',
         height: '30px'
         }) */ %>
      </p>
    </div>
  </section>
</div>
